C:/Bioinformatics/Proteogenome_v3/ __pycache__/
C:/Bioinformatics/Proteogenome_v3/Images/
C:/Bioinformatics/Proteogenome_v3/ Test_PoGo_absl_subprocess/
C:/Bioinformatics/Proteogenome_v3/Proteogenome_2.py
C:/Bioinformatics/Proteogenome_v3/Proteogenome_v3_notes.docx
C:/Bioinformatics/Proteogenome_v3/testfile.txt